<!--Partial View for skills-->
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-terminal"></i>
            <h3>Back-end</h3>
            <p>Developed according to what you need.</p>

            <p class="text-primary skills-header">
                Stack:
            </p>

            <p>
                ASP.NET CORE, SQL Server, MySQL
            </p>

            <p class="text-primary skills-header">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Special Queries</li>
            </ul>

        </div>

        <div class="col col-3 bg-white skills"  style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>Custom front-ends</p>

            <p class="text-primary skills-header">
                Stack:
            </p>

            <p>
                Blazor, HTML, CSS
            </p>

            <p class="text-primary skills-header">
                Experiencia:
            </p>

            <ul>
                <li>Responsive design</li>
                <li>jQuery</li>

            </ul>

        </div>
    </div>
</div>