@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Silvana Ruiz</h1>
    <h2>Software Developer</h2>
    <img
    id = "photo"
    src="~/img/myimg.jpg" alt="Photo Silvana"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Hello! I am Silvana Ruiz</h1>
        <p>
          I am Silvana Ruiz, a Computer Science and Technology student at
          Tec de Monterrey (ITESM). Currently, I am working with C++, Python, R,
          HTML, and CSS. I am interested in learning more about software
          development, web development, machine learning, and artificial
          intelligence. I would love to collaborate in the solution of problems
          that people encounter everyday through the usage of technology.
        </p>
    </div>
</div>
